/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.8;
}

/* Header styles */
header {
    background-color: #34495e;
    padding: 1rem 0;
    text-align: center;
    color: #ecf0f1;
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Section styles */
section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1000px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture {
    flex: 0 0 200px; /* Fixed width for the profile picture */
    margin-right: 20px;
}

.profile-picture img {
    /*border-radius: 50%;*/
    width: 500px;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about-text a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #3498db;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project {
    padding: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
    margin: 0.5rem;
}

.project-one {
    background-color: #3498db;
    border-radius: 10px;
}

.project-two {
    background-color: #2ecc71;
    border-radius: 10px;
}

.project-three {
    background-color: #e74c3c;
    border-radius: 10px;
}

/* Experience section styles */
#experience h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#experience .experience-content {
    margin-top: 20px;
}

#experience .experience-content p:first-child {
    font-weight: bold;
}

/* Footer styles */
footer {
    background-color: #34495e;
    text-align: left;
    padding: 1rem;
    color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Social links styles */
.social-links {
    margin-top: 10px;
    margin-left: 10px;
}

.social-links a {
    margin-right: 10px;
    color: #c1d0da;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Resume button styles */
.resume-button {
    text-align: center;
    margin-top: 20px;
}

.resume-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
